@font-face {
    font-family:'Font-1' ;
    src: url(./../../fonts/CircularSpUIv3T-Black.woff2);
}

@font-face {
    font-family:'Font-2';
    src: url(./../../fonts/CircularSpUIv3T-Book.woff2);
}

@font-face {
    font-family:'Font-3';
    src: url(./../../fonts/Interstate-BlackCondItalic-da1f54cf95ec060c7c84946e58f9aeaf7bac31ef251ccea3d83b45a23abee8ae.woff);
}

@font-face {
    font-family:'Font-4' ;
    src: url(./../../fonts/SourceSansPro-Regular-a13fb29f4c89c74f6035d416dd5403289425f6b9c7edb44062fc2b8f49925fab.woff);
}

@font-face {
    font-family:'Font-5';
    src: url(./../../fonts/1cce82154216dc3cb04a84d011ce1201.woff2);
}

@font-face {
    font-family: 'Font-6';
    src: url(./../../fonts/ae7c84783ad48b6d1c8e2bfbe707e0d4.woff2);
}

.pagina-menu{

    display: flex;
    flex-direction: row;
    align-items: center;

    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        border: 01px solid violet;
    }
    
    .Elevantus-Seja_Bem_Vindo-Sair{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #ff3d00;
        height: 100vh;
        width: 60vh;
        padding: 1em;
    }
    
    .Seja_Bem_Vindo{
        color: white;
        font-size: 2.6em;
        margin-bottom:3em ;
    }

    .Sair-Imagem{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .Porta{
        width: 1.7em;
        height: 1.7em;
        cursor: pointer;
    }
    
    .Sair{
        font-size: 1.5em;
        color: white;
        text-decoration: none;
        margin-left: 0.3em;
    }

    .Elevantus-Usuario_Cadastro_Consulta{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url(../../../public/image/Fundo-Menu.jpg);
        height: 100vh;
        width: 73%;
        padding: 2em;
    }
    
    .Elevantus-Usuario{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    
    .usuario{
        font-family: 'Font-1';
        font-size: 1.2em;
    
        color: white;
        
        margin-right: 0.5em;
    }
    
    .usuario-imagem{
        width: 5em;
        border-radius: 100%;
    }
    
    .Elevantus-Botoes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 5em;
    }
    
    .Botao-Cadastro,
    .Botao-Consulta{
        font-family:'Font-1';
    
        background-color: #ff3d00;
    
        padding: 1.5em 4em ;
    
        border-radius: 0.25em;
    
        color: white;
        text-decoration: none;
        margin: 0em 15%;
    }
    
    .Botao-Cadastro:hover,
    .Botao-Consulta:hover{
        cursor: pointer;
        background-color: #ff5724;
        transition:all 0.8s ease;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    @media (max-width:768px) {

        .Elevantus-Seja_Bem_Vindo-Sair{
            width: 40%;
        }

        .Elevantus-Botoes{
            flex-direction: column;
            width: 280px;
            align-self: center;
        }

        .Botao-Cadastro{
            margin-bottom: 5em;
        }
    }
    

}

