@font-face {
    font-family:'Font-1' ;
    src: url(./../../fonts/CircularSpUIv3T-Black.woff2);
}

@font-face {
    font-family:'Font-2';
    src: url(./../../fonts/CircularSpUIv3T-Book.woff2);
}

@font-face {
    font-family:'Font-3';
    src: url(./../../fonts/Interstate-BlackCondItalic-da1f54cf95ec060c7c84946e58f9aeaf7bac31ef251ccea3d83b45a23abee8ae.woff);
}

@font-face {
    font-family:'Font-4' ;
    src: url(./../../fonts/SourceSansPro-Regular-a13fb29f4c89c74f6035d416dd5403289425f6b9c7edb44062fc2b8f49925fab.woff);
}

@font-face {
    font-family:'Font-5';
    src: url(./../../fonts/1cce82154216dc3cb04a84d011ce1201.woff2);
}

@font-face {
    font-family: 'Font-6';
    src: url(./../../fonts/ae7c84783ad48b6d1c8e2bfbe707e0d4.woff2);
}

.pagina-cadastro{

    overflow-x: hidden;
    overflow-y: hidden;
    

    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        border: 0px solid black;
    }
    
    .titulo-da-consulta{
        font-size: 70px ;
        font-family: 'Font-2';
    }
    
    .divprinipal{
        background-color: #fa0000;
        padding: 40px 0px;
        margin: 0px 80px;
    }
    
    .config-consultaefoto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 1160px;
        padding-bottom: 2em;
    }
    
    
    .label-texto{
        font-size: 12px ;
        font-family: 'Font-1';
        position: absolute;
        margin-top: -5px;
        color: #000
    }

    .addFotoCliente{
        width: 50px;
        margin-right: 3em;
    }
    
    .logo-user{
        height: 250px;
        width: 100px;
        padding: 1.5em;
        background-color: #ffffff;
        border-radius: 2em;
        position:absolute;
        cursor: pointer;
    }

    .Foto-Cliente{
        height: 90px;
        width: 100px;
        border-radius: 2em;
        position:absolute;
    }

    #perfilCliente{
        height: 90px;
        width: 100px;
        padding: 1.5em;
        border-radius: 2em;
        border: 1px solid #000;
        color: #a4a4a4;
        position: relative;
        visibility: hidden;
    }

    
    .consultaefoto{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .caixa-grande{
        width: 100px;
    
    }
    
    .inpgeral{
        border-radius: 5px;
        border-style: none;
        height: 40px;
        margin-top: 10px;
    }
    
    .caixa-input{
        display: flex;
        flex-direction: column;
        margin-top: 30px;    
    }
    
    .input-configuracao{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 60px;
        font-size: 15px ;
        font-family: 'Font-1';
    }
    
    .input-Pequeno{
        width: 350px;
        border-radius: 5px;
        border-style: none;
        height: 50px;
        margin-top: 10px;
        padding: 0px 10px;
        outline: none;
        font: 20px texto;
    }
    
    .input-Medio{
        width: 550px;
        border-radius: 5px;
        border-style: none;
        height: 50px;
        padding: 0px 10px;
        margin-top: 10px;
        outline: none;
        font: 15px Font-1;
    }
    
    .input-Grande{
        width: 1160px;
        border-radius: 5px;
        border-style: none;
        height: 50px;
        padding: 0px 10px;
        margin: 10px 0px;
        outline: none;
        font: 20px texto;
    }
    
    .caixa-de-texto-media{
        width: 550px;
        border-radius: 5px;
        border-style: none;
        height: 200px;
        margin-top: 10px;
        padding: 10px 10px;
        outline: none;
        font: 20px texto;
    }
    
    .caixa-de-texto-grande{
        width: 1160px;
        border-radius: 5px;
        border-style: none;
        height: 200px;
        margin: 10px 0px;
        padding: 10px 10px;
        outline: none;
        font: 50px texto;
    }
    
    .botões-posicao{
        text-align: center;
        margin-top: 50px;
    }
    
    .botao-de-salvar{
        font-family:'Font-1';
        font-size: 1.1em;
    
        background-color: #ff3d00;
    
        padding: 1em 3em ;
    
        border-radius: 0.25em;
    
        color: white;
        text-decoration: none;
    
    }

    .botao-de-novo{
        font-family:'Font-1';
        font-size: 1.1em;

    
        background-color: black;
    
        padding: 1.2em 3.7em ;
    
        border-radius: 0.25em;
    
        color: white;
        text-decoration: none;
    }

    
    
    
    .botao-de-salvar:hover{

        cursor: pointer;
        background-color: #ff5724;
        transition:all 0.3s ease;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    .botao-de-novo:hover{

        cursor: pointer;
        background-color: #505050;
        color:white;
        transition:all 0.8s ease;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    .seta{
        width: 1.6em;
        height: 1.3em;
        cursor: pointer;
        
    }
    
    .Voltar{
        font-size: 1.2em;
        font-family: 'Font-2';
        text-decoration: none;
        color: #000;
        margin-left: 0.3em;
    }

    .Sair-Imagem:hover{
        cursor: pointer;
        transition: 2s;
        padding-left: .5em;
    }

    .Sair-Imagem{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        border-radius: 0.4em;
        padding: 0.5em;
        width: 120px;
        margin-bottom: 40px;
        padding-left: 1.5em;
        cursor: pointer;
    }
    
    
    
    @media (min-width: 428px) and (max-width: 719px){
        .titulo-da-consulta{
            font: 40px titulo;
        }
            
        .label-texto{
            font: 12px titulo;
            position: absolute;
            margin-top: -5px;
            color: #000
        }
        
        .logo-user{
            height: 90px;
        }
        
        .consultaefoto{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .config-consultaefoto{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 380px;
            padding: 0px 10px;
        }
        
        .divprincipal{
            background-color: #c4c4c4;
            padding: 40px 0px;
            margin: 0px 10px;
     
        }
        
        .caixa-dist{
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .caixa-input{
            display: flex;
            flex-direction: column;
            margin-top: 30px;    
        }
        
        .input-configuracao{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 0px;
            font: 15px titulo;
        }
        
        .input-Pequeno{
            width: 350px;
            border-radius: 5px;
            border-style: none;
            height: 30px;
            margin-top: 10px;
            padding: 0px 10px;
            outline: none;
            font: 18px texto;
        }
        
        .input-Medio{
            width: 350px;
            border-radius: 5px;
            border-style: none;
            height: 30px;
            padding: 0px 10px;
            margin-top: 10px;
            outline: none;
            font: 18px texto;
        }
        
        .input-Grande{
            width: 350px;
            border-radius: 5px;
            border-style: none;
            height: 30px;
            padding: 0px 10px;
            margin: 10px 0px;
            outline: none;
            font: 18px texto;
        }
        
        .caixa-de-texto-media{
            width: 350px;
            border-radius: 5px;
            border-style: none;
            height: 150px;
            margin-top: 10px;
            padding: 10px 10px;
            outline: none;
            font: 16px texto;
        }
        
        .caixa-de-texto-grande{
            width: 350px;
            border-radius: 5px;
            border-style: none;
            height: 150px;
            margin: 10px 0px;
            padding: 10px 10px;
            outline: none;
            font: 16px texto;
        }
        
        .botoes-posicao{
            margin-top: 50px;
            
            width: 420px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        
        .botao-de-salvar{
            padding: 20px 60px;
            border-radius: 25px;
            background-color: #f24822;
            color: #ffffff;
            font: 15px titulo;
        }
        
        .botao-de-novo{
            font-family:'Font-1';
            font-size: 1.1em;
    
        
            background-color: black;
        
            padding: 1.2em 3.7em ;
        
            border-radius: 0.25em;
        
            color: white;
            text-decoration: none;
        }
    }
    
    @media (min-width: 720px) and (max-width:1023px){
        .titulo-da-consulta{
            font: 40px titulo;
        }
        
        .label-texto{
            font: 12px titulo;
            position: absolute;
            margin-top: -5px;
            color: #000
        }
        
        .logo-user{
            height: 90px;
        }
        
        .consultaefoto{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .config-consultaefoto{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 600px;
        }
        
        .divprincipal{
            background-color: #c4c4c4;
            padding: 40px 0px;
            margin: 0px 10px;
            width: 700px;
        
        }
        
        .caixa-dist{
            padding-top: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .inpgeral{
            border-radius: 5px;
            border-style: none;
            height: 40px;
            margin-top: 10px;
        }
        
        .caixa-input{
            display: flex;
            flex-direction: column;
            margin-top: 10px;    
        }
        
        
        .input-configuracao{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0px 40px;
            font: 15px titulo;
        }
        
        .input-Pequeno{
            width:170px;
            border-radius: 5px;
            border-style: none;
            height: 50px;
            margin-top: 10px;
            padding: 0px 10px;
            outline: none;
            font: 20px texto;
        }
        
        .input-Medio{
            width: 270px;
            border-radius: 5px;
            border-style: none;
            height: 50px;
            padding: 0px 10px;
            margin-top: 10px;
            outline: none;
            font: 20px texto;
        }
        
        .input-Grande{
            width: 600px;
            border-radius: 5px;
            border-style: none;
            height: 50px;
            padding: 0px 10px;
            margin: 10px 0px;
            outline: none;
            font: 20px texto;
        }
        
        .caixa-de-texto-media{
            width: 270px;
            border-radius: 5px;
            border-style: none;
            height: 200px;
            margin-top: 10px;
            padding: 10px 10px;
            outline: none;
            font: 16px texto;
        }
        
        .caixa-de-texto-grande{
            width: 620px;
            border-radius: 5px;
            border-style: none;
            height: 200px;
            margin: 10px 0px;
            padding: 10px 10px;
            outline: none;
            font: 16px texto;
        }
        
        .botoes-posicao{
            
            margin-top: 50px;
            
            width: 700px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        
        .botao-de-salvar{
            padding: 20px 60px;
            border-radius: 25px;
            background-color: #f24822;
            color: #ffffff;
            font: 15px titulo;
        }
    
        .botao-de-novo{
            font-family:'Font-1';
            font-size: 1.1em;
    
        
            background-color: black;
        
            padding: 1.2em 3.7em ;
        
            border-radius: 0.25em;
        
            color: white;
            text-decoration: none;
        }
    }
    
    @media (min-width: 1024px) and (max-width:1279px){
        .titulo-da-consulta{
            font: 40px titulo;
        }
        
        .label-texto{
            font: 12px titulo;
            position: absolute;
            margin-top: -5px;
            color: #000
        }
        
        .logo-user{
            height: 90px;
        }
        
        .consultaefoto{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        
        .config-consultaefoto{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 900px;
        }
        
        .divprincipal{
            background-color: #c4c4c4;
            padding: 40px 0px;
            margin: 0px 10px;
            width: 1000px;
        
        }
        
        .caixa-dist{
            padding-top: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        
        .caixa-input{
            display: flex;
            flex-direction: column;
            margin-top: 10px;    
        }
        
        
        .input-configuracao{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0px 40px;
            font: 15px titulo;
        }
        
        .input-Pequeno{
            width:250px;
            border-radius: 5px;
            border-style: none;
            height: 50px;
            margin-top: 10px;
            padding: 0px 10px;
            outline: none;
            font: 20px texto;
        }
        
        .input-Medio{
            width: 400px;
            border-radius: 5px;
            border-style: none;
            height: 50px;
            padding: 0px 10px;
            margin-top: 10px;
            outline: none;
            font: 20px texto;
        }
        
        .input-Grande{
            width: 900px;
            border-radius: 5px;
            border-style: none;
            height: 50px;
            padding: 0px 10px;
            margin: 10px 0px;
            outline: none;
            font: 20px texto;
        }
        
        .caixa-de-texto-media{
            width: 400px;
            border-radius: 5px;
            border-style: none;
            height: 200px;
            margin-top: 10px;
            padding: 10px 10px;
            outline: none;
            font: 16px texto;
        }
        
        .caixa-de-texto-grande{
            width: 920px;
            border-radius: 5px;
            border-style: none;
            height: 200px;
            margin: 10px 0px;
            padding: 10px 10px;
            outline: none;
            font: 16px texto;
        }
        
        .botoes-posicao{
            text-align: center;
            margin-top: 50px;
            
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        
        .botao-de-salvar{
            padding: 20px 60px;
            border-radius: 25px;
            background-color: #f24822;
            color: #ffffff;
            font: 15px titulo;
        }
    
        .botao-de-novo{
            font-family:'Font-1';
            font-size: 1.1em;
    
        
            background-color: black;
        
            padding: 1.2em 3.7em ;
        
            border-radius: 0.25em;
        
            color: white;
            text-decoration: none;
        }
    }
    
    @media (min-width: 1280px) and (max-width:1366px){
        .titulo-da-consulta{
            font: 40px titulo;
        }
        
        .label-texto{
            font: 12px titulo;
            position: absolute;
            margin-top: -5px;
            color: #000
        }
        
        .logo-user{
            height: 90px;
        }
        
        .consultaefoto{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .config-consultaefoto{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 1160px;
        }
        
        .divprincipal{
            background-color: #c4c4c4;
            padding: 40px 0px;
            margin: 0px 80px;
        
        }
        
        .caixa-dist{
            padding-top: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .inpgeral{
            border-radius: 5px;
            border-style: none;
            height: 40px;
            margin-top: 10px;
        }
        
        .caixa-input{
            display: flex;
            flex-direction: column;
            margin-top: 30px;    
        }
        
        
        .input-configuracao{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0px 60px;
            font: 15px titulo;
        }
        
        .input-Pequeno{
            width: 350px;
            border-radius: 5px;
            border-style: none;
            height: 50px;
            margin-top: 10px;
            padding: 0px 10px;
            outline: none;
            font: 20px texto;
        }
        
        .input-Medio{
            width: 550px;
            border-radius: 5px;
            border-style: none;
            height: 50px;
            padding: 0px 10px;
            margin-top: 10px;
            outline: none;
            font: 20px texto;
        }
        
        .input-Grande{
            width: 1160px;
            border-radius: 5px;
            border-style: none;
            height: 50px;
            padding: 0px 10px;
            margin: 10px 0px;
            outline: none;
            font: 20px texto;
        }
        
        .caixa-de-texto-media{
            width: 550px;
            border-radius: 5px;
            border-style: none;
            height: 200px;
            margin-top: 10px;
            padding: 10px 10px;
            outline: none;
            font: 16px texto;
        }
        
        .caixa-de-texto-grande{
            width: 1160px;
            border-radius: 5px;
            border-style: none;
            height: 200px;
            margin: 10px 0px;
            padding: 10px 10px;
            outline: none;
            font: 16px texto;
        }
        
        .botoes-posicao{
            text-align: center;
            margin-top: 50px;
            width: 1270px;
            
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        
        .botao-de-salvar{
            padding: 20px 60px;
            border-radius: 25px;
            background-color: #f24822;
            color: #ffffff;
            font: 15px titulo;
        }
    
        .botao-de-descartar{
            padding: 20px 40px;
            border-radius: 25px;
            background-color: #ffffff;
            color: #000000;
            font: 15px titulo;
            border: solid black 2px
        }
    }
    
    @media (min-width: 1367px) and (max-width:1440px){
        .titulo-da-consulta{
            font: 40px titulo;
        }
           
        .label-texto{
            font: 12px titulo;
            position: absolute;
            margin-top: -5px;
            color: #000
        }
        
        .logo-user{
            height: 90px;
        }
        
        .consultaefoto{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    
        .config-consultaefoto{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 1160px;
        }
        
        .divprincipal{
            background-color: #c4c4c4;
            padding: 40px 0px;
            margin: 0px 80px;
        
        }
        
        .caixa-dist{
            padding-top: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .inpgeral{
            border-radius: 5px;
            border-style: none;
            height: 40px;
            margin-top: 10px;
        }
        
        .caixa-input{
            display: flex;
            flex-direction: column;
            margin-top: 30px;    
        }
        
        
        .input-configuracao{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0px 60px;
            font: 15px titulo;
        }
        
        .input-Pequeno{
            width: 350px;
            border-radius: 5px;
            border-style: none;
            height: 50px;
            margin-top: 10px;
            padding: 0px 10px;
            outline: none;
            font: 20px texto;
        }
        
        .input-Medio{
            width: 550px;
            border-radius: 5px;
            border-style: none;
            height: 50px;
            padding: 0px 10px;
            margin-top: 10px;
            outline: none;
            font: 20px texto;
        }
        
        .input-Grande{
            width: 1160px;
            border-radius: 5px;
            border-style: none;
            height: 50px;
            padding: 0px 10px;
            margin: 10px 0px;
            outline: none;
            font: 20px texto;
        }
        
        .caixa-de-texto-media{
            width: 550px;
            border-radius: 5px;
            border-style: none;
            height: 200px;
            margin-top: 10px;
            padding: 10px 10px;
            outline: none;
            font: 16px texto;
        }
        
        .caixa-de-texto-grande{
            width: 1160px;
            border-radius: 5px;
            border-style: none;
            height: 200px;
            margin: 10px 0px;
            padding: 10px 10px;
            outline: none;
            font: 16px texto;
        }
        
        .botoes-posicao{
            text-align: center;
            margin-top: 50px;
            
            display: flex;
            flex-direction: row;
            width: 1350px;
            justify-content: space-around;
        }
        
        .botao-salvar{
            padding: 20px 60px;
            border-radius: 25px;
            background-color: #f24822;
            color: #ffffff;
            font: 15px titulo;
        }
    
        .botao-de-novo{
            font-family:'Font-1';
            font-size: 1.1em;
    
        
            background-color: black;
        
            padding: 1.46em 4.8em ;
        
            border-radius: 0.25em;
        
            color: white;
            text-decoration: none;
        }
    }
    
    @media (min-width: 1441px){
        .titulo-da-consulta{
            font: 40px titulo;
        }
        
        
        .label-texto{
            font: 12px titulo;
            position: absolute;
            margin-top: -5px;
            color: #000
        }
    
        .logo-user{
            height: 90px;
        }
        
        .consultaefoto{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .config-consultaefoto{
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
        }
        
        .divprin{
            background-color: #c4c4c4;
            padding: 40px 0px;
            margin: 0px 80px;
        
        }
        
        .caixa-dist{
            padding-top: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .caixa-grande{
            width: 100px;
        
        }
        
        .inpgeral{
            border-radius: 5px;
            border-style: none;
            height: 40px;
            margin-top: 10px;
        }
        
        .caixa-input{
            display: flex;
            flex-direction: column;
            margin-top: 30px;    
        }
        
        
        .input-configuracao{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0px 0px;
            font: 15px titulo;
        }
        
        .input-Pequeno{
            max-width: 350px;
            border-radius: 5px;
            border-style: none;
            height: 50px;
            margin-top: 10px;
            padding: 0px 10px;
            outline: none;
            font: 20px texto;
        }
        
        .input-Medio{
            width: 550px;
            border-radius: 5px;
            border-style: none;
            height: 50px;
            padding: 0px 10px;
            margin-top: 10px;
            outline: none;
            font: 20px texto;
        }
        
        .input-Grande{
            width: 1160px;
            border-radius: 5px;
            border-style: none;
            height: 50px;
            padding: 0px 10px;
            margin: 10px 0px;
            outline: none;
            font: 20px texto;
        }
        
        .caixa-de-texto-media{
            width: 550px;
            border-radius: 5px;
            border-style: none;
            height: 200px;
            margin-top: 10px;
            padding: 10px 10px;
            outline: none;
            font: 16px texto;
        }
        
        .caixa-de-texto-grande{
            width: 1160px;
            border-radius: 5px;
            border-style: none;
            height: 200px;
            margin: 10px 0px;
            padding: 10px 10px;
            outline: none;
            font: 16px texto;
        }
        
        .botoes-posicao{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            margin-top: 50px;
            margin-bottom: 50px;
           
        }
        
        .botao-de-salvar{
            padding: 20px 60px;
            border-radius: 25px;
            background-color: #f24822;
            color: #ffffff;
            font: 15px titulo;
        }
    
        .botao-de-novo{
            font-family:'Font-1';
            font-size: 1.1em;
    
        
            background-color: black;
        
            padding: 1.2em 3.7em ;
        
            border-radius: 0.25em;
        
            color: white;
            text-decoration: none;
        }
    }
    
    @media (min-width: 428px) and (max-width: 719px){
        .fundo-basico{
            background-color: #c4c4c4;
            display: flex;
            flex-direction: column;
            display: flex;
            align-items: center;
        }
    }
    
    
    @media (min-width:720px) and (max-width:1023px){
        .fundo-basico{
            background-color: #c4c4c4;
            display: flex;
            flex-direction: column;
            display: flex;
            
            align-items: center;
        }
    }
    
    @media (min-width:1024px) and (max-width:1279px){
        .fundo-basico{
            background-color: #c4c4c4;
            display: flex;
            flex-direction: column;
            display: flex;
            
            align-items: center;
        }
    }
    
    @media (min-width:1280px) and (max-width:1366px){
        
        

        .fundo-basico{
            background-color: #c4c4c4;
            display: flex;
            flex-direction: column;
            display: flex;
            
            align-items: center;
        }
    }
    
    @media (min-width:1367px) and (max-width:1440px){
        .fundo-basico{
            background-color: #c4c4c4;
            display: flex;
            flex-direction: column;
            display: flex;
            
            align-items: center;
        }
    }
    
    @media (min-width:1441px){
        .fundo-basico{
            background-color: #c4c4c4;
            display: flex;
            flex-direction: column;
            display: flex;
            align-items: center;
        }
    }

    @media (max-width:1280) {
        
    }

}