@font-face {
    font-family:'Font-1' ;
    src: url(./../../fonts/CircularSpUIv3T-Black.woff2);
}

.Page-Login{
    *{
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
        border: 0px solid violet;   
    }
    
    .Login-Elevantus{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #c4c4c4;
    }
    
    .Login-Elevantus-Imagem_login{
        width: 115vh;
        height: 100vh;
    }
    
    .Login-Elevantus-Informacoes_logo_email_e_senha_e_botao{
        display: flex;
        flex-direction: column;
        margin: 0em 0em 0em 5em;
    }
    
    .Logo{    
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2em;
        margin-left: 13em ;
        width: 5em;
    }

    .credencias_invalidas{
        color: red;
        margin-left: 14em;
        margin-bottom: 1em;
    }
    
    
    .Login-Elevantus-Informacoes_email,
    .Login-Elevantus-Informacoes_senha{
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
    }
    
    .Login-Elevantus-Informacoes_label{
        font-size: 1.5em;
    }
    
    .Login-Elevantus-Informacoes_input{
        padding: 0.5em 8.5em 0.5em 0.5em;
        border-radius: 0.2em;
        border: none;
        font-size: 1.5em;
        outline: none;
        border-style: none;
    }
    
    .Login-Elevantus-Informacoes_botao{
        display: flex;
        justify-content: center;
        margin-top: 2em;
    
    }
    
    button{
        font-size: 1.1em;
    
        background-color: #ff3d00;
    
        padding: 1em 4em ;
    
        border-radius: 0.25em;
    
        color: white;
        text-decoration: none;
    }
    
    button:hover{
        cursor: pointer;
        background-color: #ff5724;
        transition:all 0.5s ease;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}


