@font-face {
    font-family:'Font-1' ;
    src: url(./../../fonts/CircularSpUIv3T-Black.woff2);
}

.pagina-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #c4c4c4;

    
    *{
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
        border: 0px solid red   
    }

    .Imagem-Flexão{
        height: 100vh;
    }

    .Login-Elevantus{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        margin-left: 5em;
    }

    .Logo{
        width: 5em;
    }

    .Credencias-invalidas{
        color: red;
    }

    .Informacoes-login{
        width: 27em;
    }

    .Informacoes-Email,
    .Informacoes-Senha{
        display: flex;
        flex-direction: column;
        margin: 1em 0em;
    }

    label{
        font-size: 1.1em;
        margin-left: 1em;
    }

    input{
        padding: 1em 2.5em ;
        border-radius: 0.5em;
        border: none;
        font-size: 0.95em;
        outline: none;
        border-style: none;
        margin-bottom: 1em;
    }

    button{
        font-size: 1.1em;

        background-color: #ff3d00;

        padding: 1em 3em ;

        border-radius: 0.25em;

        color: white;
        text-decoration: none;
    }

    button:hover{
        cursor: pointer;
        background-color: #ff5724;
        transition:all 0.5s ease;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    @media (min-width: 1024px) and (max-width: 1280px){

        .Imagem-Flexão{
            width: 65vh;
            height: 100vh;
        }
    }
    
    @media (min-width: 1281px) and (max-width: 1440px){
    
        .Imagem-Flexão{
            width: 115vh;
            height: 100vh;
        }
    
    
    }

}




